.btn-blue {
  color: #5c969e;
  background-color: #fcdada;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  border-radius: 9px;
  padding: 15px 20px;
}
.btn-blue:hover {
  background: #fcdada;
  color: #5c969e
}